In [20]:
import pandas as pd
import numpy as np

In [77]:
music_inst_df = pd.read_csv('Resources/vine_table.csv')
music_inst_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [30]:
music_inst_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [7]:
clean_music_inst_df = music_inst_df.dropna()
clean_music_inst_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [32]:
clean2 = clean_music_inst_df.copy()
clean2['total_votes'] = clean2['total_votes'].astype("int64")
clean2.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes            int64
vine                  object
verified_purchase     object
dtype: object

In [34]:
vine_df = clean2.filter(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1,N,N
1,RZSL0BALIYUNU,5.0,0.0,0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1,N,Y
3,R27HL570VNL85F,5.0,0.0,0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0,N,Y

In [36]:
#Filter the data and create a new DataFrame table to retrieve all the rows where the total_votes count is equal to or greater than 20
total_votes_20_df = vine_df[vine_df['total_votes']>=20]
total_votes_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24,N,Y

In [40]:
clean3 = total_votes_20_df.copy()
clean3['helpful_votes'] = clean3['helpful_votes'].astype('int64')
clean3.dtypes

review_id             object
star_rating          float64
helpful_votes          int64
total_votes            int64
vine                  object
verified_purchase     object
dtype: object

In [43]:
clean3["percent_votes"] = clean3['helpful_votes'] / clean3['total_votes']

In [44]:
clean3.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_votes
28,R2243Y3OD8U6KQ,5.0,47,61,N,N,0.770492
85,R2TGT0CDTCAAHW,5.0,21,23,N,Y,0.913043
457,RX4D22YSXEF4P,1.0,37,38,N,Y,0.973684
1028,R3FL2NTLFUSPTQ,5.0,33,37,N,N,0.891892
1039,R3QTP3YNZXAPPF,3.0,23,24,N,Y,0.958333

In [48]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
percent_votes_50_df = clean3[clean3['percent_votes']>=0.5]
percent_votes_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_votes
28,R2243Y3OD8U6KQ,5.0,47,61,N,N,0.770492
85,R2TGT0CDTCAAHW,5.0,21,23,N,Y,0.913043
457,RX4D22YSXEF4P,1.0,37,38,N,Y,0.973684
1028,R3FL2NTLFUSPTQ,5.0,33,37,N,N,0.891892
1039,R3QTP3YNZXAPPF,3.0,23,24,N,Y,0.958333

In [51]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program
paid_df = percent_votes_50_df[percent_votes_50_df['vine'] == 'Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_votes
4229,R1R9RU7JW0MFR2,4.0,20,23,Y,N,0.869565
9120,R19EFYNN3W8Q07,5.0,26,32,Y,N,0.812500
34704,R34DJ1R8AEU0SG,5.0,29,35,Y,N,0.828571
38510,R25P5CXK5L9RHF,5.0,146,161,Y,N,0.906832
49330,R2E9VZB3I4LSN5,5.0,55,59,Y,N,0.932203

In [52]:
#Repeat Step 3, but filter for non-Vine reviews
unpaid_df = percent_votes_50_df[percent_votes_50_df['vine'] == 'N']
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_votes
28,R2243Y3OD8U6KQ,5.0,47,61,N,N,0.770492
85,R2TGT0CDTCAAHW,5.0,21,23,N,Y,0.913043
457,RX4D22YSXEF4P,1.0,37,38,N,Y,0.973684
1028,R3FL2NTLFUSPTQ,5.0,33,37,N,N,0.891892
1039,R3QTP3YNZXAPPF,3.0,23,24,N,Y,0.958333

In [57]:
#Paid Total Reviews
paid_total = paid_df['review_id'].count()
paid_total

60

In [55]:
#Upaid Totale Reviews
unpaid_total = unpaid_df['review_id'].count()
unpaid_total

14477

In [62]:
#Paid 5 star
paid_stars = paid_df[paid_df['star_rating']==5]
paid_stars2 = paid_stars['star_rating'].count()
paid_stars2

34

In [64]:
#Unpaid 5 Star
unpaid_stars = unpaid_df[unpaid_df['star_rating']==5]
unpaid_stars2 = unpaid_stars['star_rating'].count()
unpaid_stars2

8212

In [68]:
#Percent of 5 Star Paid
percent_paid = paid_stars2 / paid_total * 100
percent_paid

56.666666666666664

In [69]:
#Percent of 5 Star Unpaid
percent_unpaid = unpaid_stars2 / unpaid_total * 100
percent_unpaid

56.72445948746287